/* Ensure the card has a transition for smooth animation */
.card {
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.company {
    transition: 0.3s ease-in-out;
}

.company:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 50px -12px rgb(0 0 0 / 0.25);
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

.scroll-container {
    cursor: grab;
}

.scroll-container:active {
    cursor: grabbing;
}
